
/* 1 */
.ch-image{
    height: 450px !important;
}
.ch-images{
    height: 450px !important;
}

/* Homesection2component */


.my-card1 {
    background-color: rgb(54, 54, 166) !important;
    color: white;
}

.my-card2 {
    background-color: rgb(97, 97, 241) !important;
    color: white;
}

/* .my-btn{
    display: none;
} */
/* .my-images{
    height: 900px !important;
} */
.my-card3 {
    background-color: rgb(54, 54, 166) !important;
    color: white;
}

.my-card4 {
    background-color: rgb(54, 54, 166) !important;
    color: white;
}

.my-card5 {
    background-color: rgb(97, 97, 241) !important;
    color: white;
}

.my-img {
    background-image: url('https://livedemo00.template-help.com/wt_59090_v1/images/icons/icon-pills-xl.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 60px !important;
    width: 60px !important;
}

.my-img1 {
    background-image: url('https://livedemo00.template-help.com/wt_59090_v1/images/icons/icon-doctor-xl.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 60px !important;
    width: 60px !important;
}

.my-img2 {
    background-image: url('https://livedemo00.template-help.com/wt_59090_v1/images/icons/icon-medical-car-xl.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 60px !important;
    width: 60px !important;
}










 









