.my-ron{
    height: 300px !important;
}
.mylogo{
    font-size: 3.5em !important;
}
.my-styl:active {
    color: gray !important;
    
} 
@media (min-width:492px) and (max-width:991.20px){
    .my-colu{
display: flex !important;
justify-content: center !important;
align-items: center !important;
text-align-last: left;
    }
}