 @media (min-width:575px) and (max-width:991px){
    /* .c-3{
        display: flex !important;
        flex-direction: column;
    }
    .c-1{
        width:80vw !important
    }
    .c-2{
        width:80vw !important
    }
    .c-4{
        display: flex !important;
    } */
 }
 .i-1{
    font-size: 1.5em !important;
 }
 /* .my-bt:hover ~ .my-btc{
     
        display: block !important;

     
     
 } */